/.plx
/local
/.agent-shell/
/nips/
cpanfile
/Makefile.old
/*.tar.gz
dist/*/*.tar.gz
dist/*/Net-Nostr-*-[0-9]*/
/MANIFEST
dist/*/MANIFEST
/MYMETA.yml
/MYMETA.json
dist/*/META.yml
dist/*/META.json
dist/*/MYMETA.yml
dist/*/MYMETA.json
/Makefile
dist/*/Makefile
/blib/
dist/*/blib/
/pm_to_blib
dist/*/pm_to_blib
*.bak
